        html {
            --utility-color: #9dd88c;
            --data-color: #b9b9ee;
            --fun-color: #eeadad;

            font-family:  monospace;
            font-size: 16px;
            font-weight: 10px;
            background-color: #EEEEEE;
        }

        p {
            font-size: 16px;
            color: black;
        }

        .main-photo   {
            display: block;
            width:  15em;
            border-color: gainsboro;
            border-width: 1em; 
            border-style: solid;
            border-radius: 60%;
            margin-left: auto;
            margin-right: auto;
        }

        .main-photo-container {
            padding: 2em;
        }

        .main-name-container    {
            text-align: center; 
            font-size: 35px; 
            padding-bottom: 0.2em;
        }
        
        .icons  {
            width: 2em;
        }
        
        .links-container    {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-bottom: 1em;
        }
        
        .back-to-portfolio  {
            text-align: center;
            padding-bottom: 1em;
        }
        
        .short-description-container   {
            width: 70%;
            padding-bottom: 3em;
            text-align: justify;
            line-height: 2em;
            margin-left: auto;
            margin-right: auto;

        }

        #utility {
            border-color: var(--utility-color);
        }

        #data {
            border-color: var(--data-color);
        }

        #fun {
            border-color: var(--fun-color, --utility-color);
        }